# Enable rewrite engine
RewriteEngine On

# Set default directory index
DirectoryIndex index.html

# Prevent access to dotfiles
<FilesMatch "^\.">
    Require all denied
</FilesMatch>

# Prevent directory listing
Options -Indexes

# Redirect to /dist if file not found
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /dist/$1 [L]
